
<img src="assets\images\img_avatar.png" alt="Avatar" style="width:200px">
<div *ngIf="!flag">
<button (click)="activeUsers()">List of Users</button>
</div>
<div *ngIf="flag">
    <button (click)="back()">back</button>
  <div *ngFor="let user of users">{{user.username}} <button (click)="getInfo(user)">GetInfo</button>
  </div>
</div>

<div>
    <div *ngIf="!flag1"> 
        <button (click)="getImages()">List of Image </button>
    </div>
    <div *ngIf="flag1">
        <button (click)="back1()">back</button>
        <div *ngFor="let i of images"><img [src]=i.path>
            {{i | json}}
        </div>
      
    </div>
</div>