<div><h1>Hi {{currentUser.firstName}}!</h1>

    <img src="assets\images\img_avatar.png" alt="Avatar" style="width:200px">


<p>You're logged in with Angular 7!!</p>

{{currentUser | json}}
    <label >Personal Information</label>&nbsp;&nbsp;
    
    <div *ngIf="flag">
            <button (click)="save()">save</button><button (click)="cancel()">cancel</button>
            <br>
        <input [(ngModel)]="currentUser.firstName">
        <input [(ngModel)]="currentUser.lastName">
    </div>
    <div *ngIf="!flag">
    
    <button (click)="edit()">Edit</button><br>
    <label>Userame:&nbsp;&nbsp;&nbsp;&nbsp;{{currentUser.username}}</label><br>
    <label>FirstName:&nbsp;&nbsp;&nbsp;&nbsp;{{currentUser.firstName}}</label><br>
    <label>LastName:&nbsp;&nbsp;&nbsp;&nbsp;{{currentUser.lastName}}</label><br>
    <button>Update Profile</button>&nbsp;&nbsp;&nbsp;&nbsp;
    </div>

